.schoolName{
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 10%;
  background-color: bisque;
  color: blueviolet;
  font-size: 60px;
}
.userName{
  font-size: 160%;
  color: blueviolet;
  margin-left: 20%;
  margin-top: 10%;
}
.passWord{
  font-size: 160%;
  color: blueviolet;
  margin-left: 20%;
}
.inputField{
  font-size: 16px;
  margin-left: 50%;
}
.userDetail{
  float: right;
  width: 50%;
}
.display-inline{
  display: inline-block;
}
.submitButton{
  font-size: 139%;
    color: blueviolet;
    margin-left: 50%;
    margin-top: 2%;
    border-radius: 20px;
    width: 15%;
    border: none;
    background-color: antiquewhite;
    cursor: pointer;
}