.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#B7B7F2;
    overflow-x: hidden;
    padding-top: 200px;
  }
  
  .sidenav,.sidenavOptions  {
    padding: 6px 8px 6px 50px;
    text-decoration: none;
    font-size: 30px;
    color:#f1f1f1;
    display: block;
    cursor: pointer;
  }

  .main {
    margin-left: 160px; 
    font-size: 28px;
    padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 200px;}
    .sidenav a {font-size: 18px;}
  }
  .profilePicture{
      
  }